#compile artefacts
obj/*
*.hex
*.elf
*.map
*.a

#ide/editor files
*.depend
*.ebp
*.elay
*.sublime-project
*.sublime-workspace

#debug 
svd/*
openocd.cfg

#doxydoc artefacts
html/*

#other junk
.DS_Store
